.secrch_header {
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  height: 4.5rem;
  line-height: 4.5rem;
  background-color: #f9fafd;
  z-index: 2;
}
.secrch_header .header_back {
  position: absolute;
  top: 0;
  left: .6rem;
  width: 6rem;
  height: 4.4rem;
  background: url(../../imgs/search_back.png) no-repeat left center;
  background-size: auto 2.5rem;
}
.secrch_header .header_text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6rem;
  right: 6rem;
  text-align: center;
  font-weight: 700;
}
.secrch_header form {
  position: relative;
  display: block;
  margin-top: .9rem;
  border: solid 1px #e0e0e0;
  background-color: #f9fafd;
  border-radius: .3rem;
  font-size: 1.4rem;
  height: 2.6rem;
  line-height: 2.6rem;
  padding-left: 2.4rem;
  background: 0.6rem center no-repeat;
  background-size: 1.3rem;
  text-align: left;
  background-image: url(../../imgs/seach_ma.png);
  font-size: 1.1rem;
}
.secrch_header .header_text input[type="text"] {
  outline: none;
  border: none;
  background: #f9fafd;
}
.secrch_header .header_text input[type="reset"] {
  position: absolute;
  display: none;
  width: 2.6rem;
  height: 2.6rem;
  top: 0;
  right: 0;
  border: none;
  background: center center no-repeat transparent;
  background-size: 1.4rem;
  color: transparent;
}
.secrch_header .header_search {
  position: absolute;
  width: 6rem;
  height: 4.4rem;
  right: .6rem;
  color: #777;
  text-align: center;
  font-size: 1.4rem;
}
.secrch_main {
  background: #EFEFEF;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 4.5rem;
  height: 100%;
}
.secrch_main .sug {
  font-size: 1.2rem;
  color: #888;
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
  background: #EFEFEF;
}
.secrch_main .sug .hot,
.secrch_main .sug .history {
  font-size: 1rem;
  /*width: 100%;*/
}
.secrch_main .sug .hot_ul,
.secrch_main .sug .his_ul {
  padding-bottom: 4rem;
  display: flex;
  flex-flow: row wrap;
}
.secrch_main .sug .hot_ul li,
.secrch_main .sug .his_ul li {
  border: solid 1px #e4e4e4;
  background-color: #FFF;
  margin: .6rem 1rem .4rem 0;
  padding: 1rem 1.5rem;
  border-radius: 2.7rem;
  color: #000;
  /*flex-grow: 0;*/
  flex-shrink: 0;
}
.clear {
  width: 50%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #aaa;
  border: solid 1px #e0e0e0;
  font-size: 1.4rem;
  margin: 0 auto;
}
footer {
  display: none;
}
