.my_header {
  position: fixed;
  top: 0;
  background-color: #ffd600;
  width: 100%;
}
.my_header .header_msg {
  position: relative;
  height: 8rem;
  width: 100%;
  background: url("../../imgs/head.png") no-repeat;
  background-position: 1.5rem 2rem;
  background-size: auto 6rem;
  padding-left: 9rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #fff;
}
.my_header .header_msg p {
  margin-top: .8rem;
}
.my_header .header_msg p:first-of-type {
  font-weight: 700;
  line-height: 1rem;
  margin-left: .2rem;
}
.my_header .header_msg .type {
  background: url("../../imgs/bee.png") no-repeat;
  background-position: left center;
  line-height: 2.8rem;
  color: #e64f1a;
  background-size: auto 100%;
  padding-left: 2.9rem;
  font-size: 1rem;
}
.my_header .right {
  background: url(../../imgs/rigth.png);
  position: absolute;
  width: 1.1em;
  height: 1.9em;
  top: 4rem;
  right: 2rem;
  z-index: 3;
  background-size: 100%;
}
.my_header .heafer_collect {
  background: #f3c800;
  height: 3.5rem;
  width: 100%;
  color: #fff;
}
.my_header .heafer_collect > * {
  width: 49%;
  float: left;
}
.my_header .heafer_collect p {
  width: .1rem;
  height: 70%;
  background: #fff;
  margin-top: .5rem;
}
.my_header .heafer_collect span:first-of-type {
  background: url(../../imgs/collecrl.png) no-repeat;
}
.my_header .heafer_collect span:last-of-type {
  background: url(../../imgs/collectr.png) no-repeat;
}
.my_header .heafer_collect .collect_left,
.my_header .heafer_collect .collect_right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}
.my_header .heafer_collect .collect_left span,
.my_header .heafer_collect .collect_right span {
  padding-left: 3rem;
  line-height: 2rem;
  background-size: auto 1.8rem;
}
/*内容部分*/
.my_main {
  background-color: #efefef;
  height: 100%;
  margin-bottom: 5rem;
  /*退出账号*/
}
.my_main .mian_top {
  margin-top: 14rem;
  /*我的订单*/
  /*代付款*/
}
.my_main .mian_top .indent {
  background: #ffffff url("../../imgs/right2.png") no-repeat;
  background-position: right 50%;
  background-size: 2rem;
  overflow: hidden;
  margin-top: 1rem;
}
.my_main .mian_top .indent a,
.my_main .mian_top .indent span {
  float: left;
  font-size: 1.4rem;
  padding: 1.6rem;
  padding-right: 3rem;
}
.my_main .mian_top .indent span {
  float: right;
  color: #999;
}
.my_main .mian_top .pay {
  background: #fff;
  margin-top: .1rem;
  padding: 1rem 0;
  overflow: hidden;
}
.my_main .mian_top .pay li {
  float: left;
  width: 25%;
  text-align: center;
  padding-top: 4rem;
}
.my_main .mian_top .pay li:first-of-type {
  background: url(../../imgs/mymain1.png) no-repeat;
  background-size: 2rem;
  background-position: center;
}
.my_main .mian_top .pay li:nth-of-type(2) {
  background: url(../../imgs/mymain2.png) no-repeat;
  background-size: 2rem;
  background-position: center;
}
.my_main .mian_top .pay li:nth-of-type(3) {
  background: url(../../imgs/mymain3.png) no-repeat;
  background-size: 2rem;
  background-position: center;
}
.my_main .mian_top .pay li:nth-of-type(4) {
  background: url(../../imgs/mymain4.png) no-repeat;
  background-size: 2rem;
  background-position: center;
}
.my_main .main_middle {
  margin-bottom: 2rem;
}
.my_main .main_middle .integral {
  background: #fff;
  overflow: hidden;
  margin-top: 1rem;
}
.my_main .main_middle .integral li {
  float: left;
  padding: 5.5rem 0 1.5rem 0;
  text-align: center;
  width: 25%;
  border-bottom: 1px solid #efefef;
}
.my_main .main_middle .integral li:nth-of-type(1) {
  background: url("../../imgs/integral1.png") no-repeat center;
  background-size: 3rem;
}
.my_main .main_middle .integral li:nth-of-type(2) {
  background: url("../../imgs/integral2.png") no-repeat center;
  background-size: 3rem;
}
.my_main .main_middle .integral li:nth-of-type(3) {
  background: url("../../imgs/integral3.png") no-repeat center;
  background-size: 3rem;
}
.my_main .main_middle .integral li:nth-of-type(4) {
  background: url("../../imgs/integral4.png") no-repeat center;
  background-size: 3rem;
}
.my_main .main_middle .integral li:nth-of-type(5) {
  background: url("../../imgs/integral5.png") no-repeat center;
  background-size: 3rem;
  border: none;
}
.my_main .main_middle .integral li:nth-of-type(6) {
  background: url("../../imgs/integral5.png") no-repeat center;
  background-size: 3rem;
  border: none;
}
.my_main .mian_bottom {
  height: 4.5rem;
  width: 100%;
  text-align: center;
  background: #fff;
  line-height: 4.5rem;
  margin-bottom: 2rem;
}
.my_main + footer {
  display: block;
}
